body {
    background: #ffa07a;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 85px;
}

.sofia-sans-extra-condensed-uniquifier {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.sofia-sans-extra-condensed-uniquify {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* Navigation Bar */
.navbar {
  background-color: greenyellow; 
}

/* Navigation Links */
.navbar-dark .navbar-nav .nav-link {
  color: #FFFF; 
}

/* Hero Section */
.bg-light {
  background-color: transparent; 
}

.bg-image {
  background-image: url('images/bg-hero.jpg');
  background-position: center;
}

