body {
    background: #FFFF;
    font-family: ;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 95px;
}

.sofia-sans-extra-condensed-uniquifier {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.sofia-sans-extra-condensed-uniquify {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 19px;
}

.montserrat-big {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 23px;
}

.navbar .navbar-expand-lg  {
  background-color: #f2b6c1;
}

/* Hero Section */
.bg-light {
  background-color: transparent; 
}

.bg-image {
  background-image: url('images/header-bg.jpg');
  background-position: center;
}

.btn-primary {
  background-color: #F2AE30;
  border-color: #F2AE30;
}
.btn-primary:hover {
  background-color: #F2811D;
  border-color: #F2811D;
}

.bg-alt {
  background-color: #ffdde3;
}

#Research ol{
  padding-left:60px;
}